.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.email-link {
  color: #FFD700;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.email-link:hover {
  color: white;
  text-decoration: none;
}

.email-link:hover .email-icon {
  color: white;
  transform: scale(1.1); 
}

/* Apply hover effect to location link */
.location-link:hover {
  color: white;
  text-decoration: none;
}

/* Apply hover effect to GitHub and LinkedIn links */
.social-link:hover {
  color: white;
  text-decoration: none;
}